@using Maplestory_Patch_Logs.Models
@model Maplestory_Patch_Logs.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
}
@{   
    var data = ViewBag.Home;  
}

<div class="text-center">
    @using (Html.BeginForm("Form", "Home", FormMethod.Post))
    {
        <div class="container">
           <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Version</span>
                        @Html.TextBoxFor(m => m.Version, new { @class = "form-control", placeholder = "Version",  })  
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Date</span>
                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "Date",  })  
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text">HTML</span>
                        @Html.TextAreaFor(m => m.Html, htmlAttributes: new {@class="form-control", Style = "height: 600px"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text">Result</span>
                        <textarea class="form-control" aria-label="With textarea" style="height: 600px"></textarea>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <button type="submit" value="Convert" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
